<div class="container" ng-controller = "SimpleController">
	Name: 
	<input type="text" name="username" ng-model = "city">

	<ul>
		<li ng-repeat = "name in names | filter: city | orderBy: 'city'">{{ name.name }} - {{ name.city | uppercase}}</li>
	</ul>
	
	</br>
	Customer Name: 
	<input type="text" name="newuser" ng-model = "newuser.name">
	</br>
	Customer City: 
	<input type="text" name="newcity" ng-model = "newuser.city">
	</br>
	<button ng-click = "addUser()">Add User</button>
	</br>
	<a href="#/view1">View1</a>
</div>